{% load staticfiles %}
<html>
    <head>
        <title>Cart</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/cart_page.css' %}">
    </head>
    <body>
        <table>
            <thead>
            </thead>
            <tbody>
            {% for ci in items %}
                <tr>
                    <td><p>{{ ci.item.name }}</p></td>
                    <td><p>{{ ci.item.price_rub }} <strong>RUB</strong></p></td>
                    <td><a href="/cart/delete/{{ci.id}}">Удалить</a></td>
                </tr>
            {% endfor %}
                <tr>
                    <td><strong><p>ИТОГО</p></strong></td>
                    <td><strong><p>{{ total }} RUB</p></strong></td>
                </tr>
            </tbody>
        </table>
        <form method="GET" action="/payment/cart" class="post-form">
            <span>E-mail  </span><input type="text" class="text" name="email" />
            <button type="submit" class="save btn btn-default">Оформить заказ</button>
       <div id="return"><a href="/store">Перейти в каталог</a></div>    
    </body>
</html>