{% load staticfiles %}
<html>
    <head>
        <title>{{ item.name }}</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/desc.css' %}">
    </head>
    <body>
        <div class="container">
            <h1>{{ item.name }}</h1>
            <img class="item-image" src="{{ item.img }}"/>
            <div class="cost">
                <strong style="color: snow" id="cost_text">{{ item.price_rub }}<font style="font-size: 20px"> RUB</font></strong>
            </div>
            <p>{{ item.description|linebreaks }}</p>
            <p>В наличии: <strong>{{ item.qty }}</strong> шт.</p>
        </div>
        <a href="/item/{{item.id}}/add/{{cart_id}}"><div class="bin">
            <p class="button_text">Положить в корзину</p>
        </div></a>
        <a href="/cart/{{cart_id}}"><div class="bin_button">
            <p class="button_text">Корзина</p>
        </div></a>
        <div class="container"><a href="/store" id="return"><p>Вернуться к каталогу</p></a></div>
    </body>
</html>