{% load staticfiles %}
<html>
    <head>
        <title>Store</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/store_main.css' %}">
    </head>
    <body>
        <div class="order_good">
            <p>Заказ успешно оформлен</p>
        </div>
        <div id="mainmenu">
            <ul>
                <li><a href="/" id="main_page_category">Главная</a></li>
                <li><a href="/Computer">Компьютеры</a></li>
                <li><a href="/Mobile">Мобильные телефоны</a></li>
                <li><a href="/TV">Телевизоры</a></li>
                <li><a href="/Headphones">Наушники</a></li>
                <li><a href="/Other">Другое</a></li>
            </ul>
        </div>
        <ul class="item">
            
                {% for item in kek %}
                    <li id='item'>
                        <a href="/item/{{ item.id }}"><table class="goods">
                            <thead>
                                <th colspan="2">
                                    <h1><a class="itemm" href="/item/{{ item.id }}">{{ item.name }}</a></h1>
                                </th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <img class="item-image" src="{{ item.img }}"/>
                                    </td>
                                    <td>
                                        <strong>{{ item.price_rub }}<p> RUB</p></strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table></a>
                    </li>
                {% endfor %}
            
        </ul>
    </body>
</html>