{% load staticfiles %}
<html>
    <head>
        <title>Main page</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div id="mainmenu">
            <ul class="menu">
                <li><a href="/store">Витрина Магазина</a></li>
                <li><a href="/cart/{{ cart.id }}">Моя Корзина</a></li>
            </ul>
        </div>
        <div class="decor">
            <p>Топ - 4</p>
        </div>
        <ul>
            {% for item in arr %}
                <li id='item'>
                    <a href="/item/{{ item.id }}"><table class="goods">
                        <thead>
                            <th colspan="2">
                                <h1><a class="itemm" href="/item/{{ item.id }}">{{ item.name }}</a></h1>
                            </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <img class="item-image" src="{{ item.img }}"/>
                                </td>
                                <td>
                                    <strong>{{ item.price_rub }}<p> RUB</p></strong>
                                </td>
                            </tr>
                        </tbody>
                    </table></a>
                </li>
            {% endfor %}
        </ul>
        <div class="decor">
        </div>
    </body>
</html>
