{% load staticfiles %}
<html>
    <head>
        <title>Store</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/store_main.css' %}">
    </head>
    <body>
        <div id="mainmenu">
            <ul>
                <li><a href="/" id="main_page_category">Главная</a></li>
                {% for title in title %}
                    <li><a href="/category/{{ title.id }}">{{ title.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <ul class="item">
            
                {% for item in items %}
                    <li id='item'>
                        <a href="/item/{{ item.id }}"><table class="goods">
                            <thead>
                                <th colspan="2">
                                    <h1><a class="itemm" href="/item/{{ item.id }}">{{ item.name }}</a></h1>
                                </th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <img class="item-image" src="{{ item.img }}"/>
                                    </td>
                                    <td>
                                        <strong>{{ item.price_rub }}<p> RUB</p></strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table></a>
                    </li>
                {% endfor %}
            
        </ul>
        <a href="/store"><p id="store">Показать витрину полностью</p></a>
    </body>
</html>
