img {
    max-width: 250px;
    max-height: 250px;
}
body {
    background-color: bisque;
}
.bin {
    margin: auto;
    text-align: center;
    height: 50px;
    width: 150px;
    border: 1px solid darkred;
    border-radius: 100px;
    background-color: cadetblue;
}
.bin_button {
    margin: auto;
    text-align: center;
    height: 50px;
    width: 150px;
    border: 4px solid darkred;
    background-color: firebrick;
    position: relative;
    float: right;
    margin-top: -485px;
    margin-right: 60px;
}
div.bin p {
    color: aliceblue;
    text-decoration: none;
}
a:hover {
    background-color: grey;
}
.button_text {
    margin-top: 10px;
    color: snow;
    font-family: Tahoma;
}
a:link {
    text-decoration: none;
}
.cost {
    display: block;
    width: 150px;
    height: 50px;
    margin-right: 660px;
    margin-top: 95px;
    padding-top: 10px;
    padding-left: 17px;
    position: relative;
    float: right;
    background-color: darkred;
    -webkit-transform: skewX(-30deg); /* Для Safari и Chrome */
    -moz-transform: skewX(-30deg); /* Для Firefox */
    -o-transform: skewX(-30deg); /* Для Opera */
    -ms-transform: skewX(-30deg); /* Для IE */
    transform: skewX(-30deg); /* CSS3 */
}
#cost_text {
    font-family: Courier;
    margin-top: 10px;
    text-align: center;
}
#return p {
    margin-top: 20px;
}
