.item-image {
    max-width: 250px;
    max-height: 250px;
}
table {
    border: 1px dashed red;
}
td {
    height: 250px;
    width: 250px;
    padding: 10px;
    margin-left: 50px;
}
.wow {
    border: 1px;
}
img {
    max-width: 250px;
    max-height: 250px;
}
body {
    background-color: azure;
}
.itemm {
    text-decoration: none;
}
a:link {
    text-decoration: none;
}
#item {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    vertical-align: middle;
}
.item {
    border: 4px solid darkblue;
    border-radius: 50px;
    margin-top: 20px;
    position: relative;
}
.goods {
    width: 370px;
    height: 380px;
    margin: auto;
    margin-bottom: 7px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: -5px;
    /*margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 27px;
    margin-top: 20px;*/
}

   #mainmenu {
    position: relative;
    overflow:hidden;
    height:30px;
    margin:20px 0
}
#mainmenu ul {
    list-style:none;
    margin:0;
    padding:0;
    position: relative;
    left:50%;
    float:left;
    font:14px Arial, Helvetica, sans-serif;
    height:30px
}
#mainmenu ul li {
    position:relative;
    left:-50%;
    float:left;
    margin:0 5px;
    height:30px
}
#mainmenu ul li a {
    text-decoration:none;
    color: snow;
    padding:4px 10px;
    display: inline-block;
    background: #CA181A;
    width: 200px;
    height: 30px;
    margin-right: 30px;
    border: 2px solid darkblue;
    text-align: center;
    text-decoration: none;
    -webkit-transform: skewX(-30deg); /* Для Safari и Chrome */
    -moz-transform: skewX(-30deg); /* Для Firefox */
    -o-transform: skewX(-30deg); /* Для Opera */
    -ms-transform: skewX(-30deg); /* Для IE */
    transform: skewX(-30deg); /* CSS3 */
}
#mainmenu ul li a:hover {
    background-color:#444;
    color:#ffffff
}
#mainmenu ul li #main_page_category{
    background-color: gold;
    color: black;
}
#mainmenu ul li #main_page_category:hover{
    background-color: #444;
    color: #ffffff;
}
#store {
    text-align: center;
}
.order_good {
    height: 50px;
    width: 300px;
    border: 4px solid greenyellow;
    background-color: azure;
    margin: auto;
}
.order_good p {
    text-align: center;
    margin-top: 10px;
    font-family: Courier;
    font-size: 15px;
    color: green;
}